.quote-form {

    &__heading {
        font-weight: bold;
        font-size: 34px;
        line-height: 44px;
        margin-bottom: 30px;
        text-align: center;
        letter-spacing: -1px;
    }

    &__footer-line,
    &__second-footer-line {
        background: var(--first-color);
        height: 45px;
    }

    &__second-footer-line {
        margin-top: 6px;
        display: none;
    }

    &__content {
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    &__image {
        width: 100%;
        display: block;
        position: relative;
        top: 36px;
    }

    &__image-wrapper {
        display: none;
    }

    &__form-wrapper {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 80px;

        .input:last-of-type {
            margin-bottom: 30px;
        }
    }

    &__form {
        max-width: 300px;
        text-align: center;
    }

    &__voltarAoCombo{
        margin-bottom: 30px;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid;
    }
    
    &__info-error {
        margin-bottom: 30px;
        color: brown;
    }

    &__info-add {
        margin-top: 6px;
        font-size: 14px;
        color: brown;
    }

    @media (min-width:769px) {

        background: var(--third-background);

        &__second-footer-line {
            display: block;
        }

        &__image-wrapper {
            display: block;
            width: 35%;
        }

        &__form-wrapper {
            width: 65%;
            margin-top: 80px;
        }
    }

}